# Pandas Data Merge
- ye merge krta hia label(columns) or index(rows) apaas me, ek or ek sy ziada keys k through...

In [1]:
import numpy as np
import pandas as pd

In [2]:
data1=pd.DataFrame({
    "ID" : [22,34,36,56],
    "Name" : ["B","M",'I',"K"]
})

In [3]:
data2=pd.DataFrame({
    "ID" : [22,34,36,56],
    "Class" : [10,11,12,8]
})

# Parameter:
    - on: ye  apky data frame me same values ko merge krta hai,,,

In [4]:
merge=pd.merge(data1,data2,on="ID")

In [5]:
merge

   ID Name  Class
0  22    B     10
1  34    M     11
2  36    I     12
3  56    K      8

In [6]:
data3=pd.DataFrame({
    "ID" : [22,37,34,56],
    "Class" : [10,11,12,8]
})

In [7]:
data4=pd.DataFrame({
    "ID" : [22,39,34,57],
    "Name" : ["B","M",'I',"K"]
})

In [8]:
d=pd.merge(data3,data4,on="ID")

In [9]:
d  # agr same kr ny par b us column jese ID m values saame ni hongi wo usy drop kr dy ga

   ID  Class Name
0  22     10    B
1  34     12    I

In [10]:
#rearrange data frames
data3=pd.DataFrame({
    "ID" : [22,37,34,56],
    "Class" : [10,11,12,8]
})

data4=pd.DataFrame({
    "ID" : [22,39,34,57],
    "Name" : ["B","M",'I',"K"]
})

In [ ]:
pd.DataFrames(data4,data3,on="ID")