# Handling Missing Values

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

# Missing Vlaues consider

- #N/A              
- -NaN
- null
- -nan
- -n/a
-  #NA
- N/A
- nan
- -1.#IND
- NA
- 1.#IND
- -1.#QNAN
-  Null
- 1.#QNAN

In [4]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

In [5]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv",keep_default_na=True)
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

In [6]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv",keep_default_na=False)
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9,45,25,70,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,,5,5,8,10,10,32,18,50,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10,33,30,63,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,nan,2,2,23,NA,46,F,yes,No
4,022-14-110648,#NA,Ahsan Ali Vohra,27,7,6,7,7,9,9,43,34,77,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10,44,30,74,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9,37,Null,61,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,#NA,6,8,8,#N/A,8,44,40,84,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,#N/A,8,46,45,91,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,,nan,41,35,76,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10,40,33,73,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10,42,25,67,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8,36,29,65,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,,,0,,null,0,18,null,18,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9,37,35,72,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11,39,31,70,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,#N/A,10,10,31,29,60,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10,46,45,91,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9,40,31,71,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11,40,20,60,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NA,7,34,23,57,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,,5,8,10,10,41,21,62,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11,44,33,77,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10,45,41,86,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,,6,6,8,8,41,24,65,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10,45,26,71,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11,39,18,57,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NA,6,30,9,39,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,,9,40,32,72,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,,10,44,29,73,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,,2,2,8,10,10,21,8,29,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10,44,42,86,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,,10,10,38,28,66,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,#N/A,9,43,27,70,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,,9,45,30,75,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,,,C,yes,No
40,022-14-110584,,#NAME?,27,9,6,9,8,10,10,46,35,,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10,44,23,67,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,,9,41,22,63,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,,9,45,35,80,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10,43,22,65,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,,,,,46,F,yes,No

In [7]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv",na_filter=False)
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9,45,25,70,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,,5,5,8,10,10,32,18,50,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10,33,30,63,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,nan,2,2,23,NA,46,F,yes,No
4,022-14-110648,#NA,Ahsan Ali Vohra,27,7,6,7,7,9,9,43,34,77,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10,44,30,74,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9,37,Null,61,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,#NA,6,8,8,#N/A,8,44,40,84,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,#N/A,8,46,45,91,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,,nan,41,35,76,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10,40,33,73,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10,42,25,67,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8,36,29,65,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,,,0,,null,0,18,null,18,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9,37,35,72,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11,39,31,70,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,#N/A,10,10,31,29,60,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10,46,45,91,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9,40,31,71,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11,40,20,60,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NA,7,34,23,57,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,,5,8,10,10,41,21,62,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11,44,33,77,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10,45,41,86,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,,6,6,8,8,41,24,65,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10,45,26,71,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11,39,18,57,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NA,6,30,9,39,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,,9,40,32,72,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,,10,44,29,73,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,,2,2,8,10,10,21,8,29,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10,44,42,86,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,,10,10,38,28,66,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,#N/A,9,43,27,70,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,,9,45,30,75,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,,,C,yes,No
40,022-14-110584,,#NAME?,27,9,6,9,8,10,10,46,35,,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10,44,23,67,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,,9,41,22,63,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,,9,45,35,80,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10,43,22,65,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,,,,,46,F,yes,No

In [7]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv",na_filter=True)
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final_50,Total_100,Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,not avalible,8,Null,8,7,not avalible,9.0,45.0,25,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10.0,32.0,18,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,Null,2,5,8,10,10.0,33.0,30,63.0,C,yes,avalible
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2.0,23.0,NaN,46.0,F,yes,No
4,022-14-110648,NaN,Ahsan Ali Vohra,27,7,6,7,7,9,9.0,43.0,34,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10.0,44.0,27,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,Null,8,10,10.0,44.0,30,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10.0,45.0,40,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9.0,37.0,Null,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,NaN,6,8,8,NaN,8.0,44.0,40,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8.0,46.0,45,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,Null,NaN,NaN,41.0,35,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10.0,40.0,33,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10.0,42.0,25,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8.0,36.0,29,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9.0,37.0,35,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11.0,39.0,31,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,Null,NaN,10,10.0,31.0,29,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10.0,46.0,45,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9.0,40.0,31,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11.0,40.0,20,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7.0,34.0,23,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10.0,41.0,21,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11.0,44.0,33,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10.0,45.0,41,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8.0,41.0,24,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10.0,45.0,26,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11.0,39.0,18,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6.0,30.0,9,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9.0,40.0,32,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10.0,44.0,29,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10.0,21.0,8,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10.0,34.0,17,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10.0,44.0,42,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10.0,38.0,28,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9.0,43.0,27,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9.0,45.0,30,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7.0,22.0,17,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9,6,9,8,10,10.0,46.0,35,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10.0,37.0,20,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10.0,44.0,23,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8.0,45.0,34,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9.0,41.0,22,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9.0,45.0,35,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10.0,43.0,22,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,NaN,NaN,NaN,NaN,46.0,F,yes,No

-  isnull()
-  notnull()
-  isnull().sum()
-  notnull().sum()
-  isnull().sum().sum()
-  notnull().sum().sum()

In [4]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.isnull()

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,True_values,False_values
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,True,True,False,True,False,False,False,True,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
23,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
32,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False
40,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False
41,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False

In [7]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.notnull().sum()  # how many not nul values

Student Code            48
Degree                  47
Student_Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
Best of Quizzes         48
Assignment 1            45
Assignment 2            36
Best of Assignments     47
Total Sessional (50)    47
Final (50)              45
Total (100)             46
Grade                   48
True_values             48
False_values            48
dtype: int64

In [8]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.isnull().sum()  #How many null values

Student Code             0
Degree                   1
Student_Name             0
Mid                      0
Quiz 1                   3
Quiz 2                   3
Best of Quizzes          0
Assignment 1             3
Assignment 2            12
Best of Assignments      1
Total Sessional (50)     1
Final (50)               3
Total (100)              2
Grade                    0
True_values              0
False_values             0
dtype: int64

HOw many total null values in dataset

In [10]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.isnull().sum().sum()

29

In [11]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.notnull().sum().sum()

739

In [15]:
#Series
s1=pd.Series([2,3,5,np.nan,np.NaN,34,5])
s1

0     2.0
1     3.0
2     5.0
3     NaN
4     NaN
5    34.0
6     5.0
dtype: float64

In [16]:
s1.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
dtype: bool

In [17]:
s1.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
6     True
dtype: bool

# dropna() Method
use to drop the null values in dataset

In [25]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9,9.0,45.0,25.0,70.0,B,yes,No
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10,10.0,32.0,18.0,50.0,F,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10,10.0,33.0,30.0,63.0,C,yes,No
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2,2.0,23.0,23.0,46.0,F,yes,No
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9,9.0,43.0,34.0,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10,10.0,44.0,27.0,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10,10.0,44.0,30.0,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10,10.0,45.0,40.0,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9,9.0,37.0,24.0,61.0,C,yes,No
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8.0,44.0,40.0,84.0,A,yes,No
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8.0,46.0,45.0,91.0,A,yes,No
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5.0,41.0,35.0,76.0,B,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10,10.0,40.0,33.0,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10,10.0,42.0,25.0,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8,8.0,36.0,29.0,65.0,C,yes,No
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,null,0.0,18.0,NaN,18.0,F,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9,9.0,37.0,35.0,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11,11.0,39.0,31.0,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10,10.0,31.0,29.0,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10,10.0,46.0,45.0,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9,9.0,40.0,31.0,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11,11.0,40.0,20.0,60.0,C,yes,No
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7.0,34.0,23.0,57.0,F,yes,No
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10,10.0,41.0,21.0,62.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11,11.0,44.0,33.0,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10,10.0,45.0,41.0,86.0,A,yes,No
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8,8.0,41.0,24.0,65.0,C,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10,10.0,45.0,26.0,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11,11.0,39.0,18.0,57.0,F,yes,No
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6.0,30.0,9.0,39.0,F,yes,No
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9.0,40.0,32.0,72.0,B,yes,No
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10.0,44.0,29.0,73.0,B,yes,No
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10,10.0,21.0,8.0,29.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10,10.0,34.0,17.0,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10,10.0,44.0,42.0,86.0,A,yes,No
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10,10.0,38.0,28.0,66.0,C,yes,No
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9.0,43.0,27.0,70.0,B,yes,No
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9.0,45.0,30.0,75.0,B,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7,7.0,22.0,17.0,39.0,F,yes,No
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11,11.0,43.0,NaN,NaN,C,yes,No
40,022-14-110584,NaN,#NAME?,27,9.0,6.0,9,8.0,10,10.0,46.0,35.0,NaN,A,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10,10.0,37.0,20.0,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10,10.0,44.0,23.0,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8,8.0,45.0,34.0,79.0,B,yes,No
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9.0,41.0,22.0,63.0,C,yes,No
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9.0,45.0,35.0,80.0,A,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10,10.0,43.0,22.0,65.0,C,yes,No
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,NaN,NaN,NaN,NaN,46.0,F,yes,No

In [26]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.dropna()

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9,9.0,45.0,25.0,70.0,B,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10,10.0,33.0,30.0,63.0,C,yes,No
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9,9.0,43.0,34.0,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10,10.0,44.0,27.0,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10,10.0,44.0,30.0,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10,10.0,45.0,40.0,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9,9.0,37.0,24.0,61.0,C,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10,10.0,40.0,33.0,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10,10.0,42.0,25.0,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8,8.0,36.0,29.0,65.0,C,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9,9.0,37.0,35.0,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11,11.0,39.0,31.0,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10,10.0,31.0,29.0,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10,10.0,46.0,45.0,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9,9.0,40.0,31.0,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11,11.0,40.0,20.0,60.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11,11.0,44.0,33.0,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10,10.0,45.0,41.0,86.0,A,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10,10.0,45.0,26.0,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11,11.0,39.0,18.0,57.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10,10.0,34.0,17.0,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10,10.0,44.0,42.0,86.0,A,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7,7.0,22.0,17.0,39.0,F,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10,10.0,37.0,20.0,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10,10.0,44.0,23.0,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8,8.0,45.0,34.0,79.0,B,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10,10.0,43.0,22.0,65.0,C,yes,No

# Dropna with axis

In [8]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.dropna(axis=1)

,Student Code,Student_Name,Mid,Best of Quizzes,Grade,True_values,False_values
0,022-14-19987,Abdul Basit,not avalible,8,B,yes,No
1,022-14-110233,Adeel Ahmed,17,5,F,yes,No
2,022-14-110585,Afrah Zareen,18,5,C,yes,avalible
3,022-14-19718,Ahmed Ali Raza,14,7,F,yes,No
4,022-14-110648,Ahsan Ali Vohra,27,7,B,yes,No
5,022-14-110232,Ameer Hamza,25,9,B,yes,No
6,022-14-110588,Anas Ali Khan,28,Null,B,yes,No
7,022-14-110388,Aneebullah Niazi,26,9,A,yes,No
8,022-14-110601,Areesha Sohail,19,9,C,yes,No
9,022-14-110599,Arsalan,28,8,A,yes,No
10,022-14-110214,Fatima Haider Warsi,30,8,A,yes,No
11,022-14-110591,Habib Ullah,28,8,B,yes,No
12,022-15-110994,Hafiza Tooba Akbani,23,7,B,yes,No
13,022-14-110600,Hamza Abdul Jabbar,24,8,C,yes,No
14,022-14-110389,Hareem Afshan,21,7,C,yes,No
15,022-14-19916,Haseeb Sajid,18,0,F,yes,No
16,022-14-110596,Hassam Ahmed,23,5,B,yes,No
17,022-14-110396,Khalid Anwer,20,8,B,yes,No
18,022-14-110223,Madiha Jabeen,16,Null,C,yes,No
19,022-14-110222,Mohammad Hunain,27,9,A,yes,No
20,022-14-110412,Muhammad Aamir,24,7,B,yes,No
21,022-14-110593,Muhammad Abdul Rehman Siddiqui,20,9,C,yes,No
22,022-14-110398,Muhammad Abdullah,20,7,F,yes,No
23,022-14-19983,Muhammad Ali Iqbal,26,5,C,yes,No
24,022-14-110215,Muhammad Bilal,28,5,B,yes,No
25,022-14-110105,Muhammad Faraz,26,9,A,yes,No
26,022-14-110370,Muhammad Ghazali Faridi,27,6,C,yes,No
27,022-14-110452,Muhammad Osama Khan,27,8,B,yes,No
28,022-14-110387,Muhammad Saqib Intizar,22,6,F,yes,No
29,022-14-110217,Muhammad Shahroz Khurshid,17,7,F,yes,No
30,022-14-110401,Muhammad Shozab,23,8,B,yes,No
31,022-14-110231,Muhammad Taha Hasnain,27,7,B,yes,No
32,022-14-110035,Muhammad Wajahat Khan,9,2,F,yes,No
33,022-14-19919,Muhammad Younus Baig,20,4,F,yes,No
34,022-14-110413,Nazeer Bin Zafar,25,9,A,yes,No
35,022-14-19923,Rabi Ahmed,20,8,C,yes,No
36,022-14-110582,Rida Nasim,25,9,B,yes,No
37,022-14-110230,Sadaf Nosheen,27,9,B,yes,No
38,022-14-110229,Sadaquat Rafique,9,6,F,yes,No
39,022-14-110107,Sania Iqbal,28,4,C,yes,No
40,022-14-110584,#NAME?,27,9,A,yes,No
41,022-14-110225,Shariqa Ahmad,20,7,F,yes,No
42,022-14-110587,Sumbul Rehman,28,6,C,yes,No
43,022-14-110451,Syed Faizan Uddin,28,9,B,yes,No
44,022-14-110589,Syed Sohaib,25,7,C,yes,No
45,022-14-110400,Syeda Sabika Raza,27,9,A,yes,No
46,022-14-19911,Usman Khan,25,8,C,yes,No
47,022-14-110219,Waqar Ahmed,11,9,F,yes,No

# dropna with axis 0

In [30]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.dropna(axis=0)

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9,9.0,45.0,25.0,70.0,B,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10,10.0,33.0,30.0,63.0,C,yes,No
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9,9.0,43.0,34.0,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10,10.0,44.0,27.0,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10,10.0,44.0,30.0,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10,10.0,45.0,40.0,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9,9.0,37.0,24.0,61.0,C,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10,10.0,40.0,33.0,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10,10.0,42.0,25.0,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8,8.0,36.0,29.0,65.0,C,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9,9.0,37.0,35.0,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11,11.0,39.0,31.0,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10,10.0,31.0,29.0,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10,10.0,46.0,45.0,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9,9.0,40.0,31.0,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11,11.0,40.0,20.0,60.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11,11.0,44.0,33.0,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10,10.0,45.0,41.0,86.0,A,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10,10.0,45.0,26.0,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11,11.0,39.0,18.0,57.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10,10.0,34.0,17.0,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10,10.0,44.0,42.0,86.0,A,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7,7.0,22.0,17.0,39.0,F,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10,10.0,37.0,20.0,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10,10.0,44.0,23.0,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8,8.0,45.0,34.0,79.0,B,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10,10.0,43.0,22.0,65.0,C,yes,No

# dropna with how parameter

In [2]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.dropna(how="any") # jis column me NA values hongi drop kr dy ga

,Student Code,Degree,Student_Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment_1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,True_values,False_values
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9,9.0,45.0,25.0,70.0,B,yes,No
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10,10.0,33.0,30.0,63.0,C,yes,No
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9,9.0,43.0,34.0,77.0,B,yes,No
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10,10.0,44.0,27.0,71.0,B,yes,No
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10,10.0,44.0,30.0,74.0,B,yes,No
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10,10.0,45.0,40.0,85.0,A,yes,No
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9,9.0,37.0,24.0,61.0,C,yes,No
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10,10.0,40.0,33.0,73.0,B,yes,No
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10,10.0,42.0,25.0,67.0,C,yes,No
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8,8.0,36.0,29.0,65.0,C,yes,No
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9,9.0,37.0,35.0,72.0,B,yes,No
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11,11.0,39.0,31.0,70.0,B,yes,No
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10,10.0,31.0,29.0,60.0,C,yes,No
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10,10.0,46.0,45.0,91.0,A,yes,No
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9,9.0,40.0,31.0,71.0,B,yes,No
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11,11.0,40.0,20.0,60.0,C,yes,No
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11,11.0,44.0,33.0,77.0,B,yes,No
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10,10.0,45.0,41.0,86.0,A,yes,No
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10,10.0,45.0,26.0,71.0,B,yes,No
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11,11.0,39.0,18.0,57.0,F,yes,No
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10,10.0,34.0,17.0,51.0,F,yes,No
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10,10.0,44.0,42.0,86.0,A,yes,No
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7,7.0,22.0,17.0,39.0,F,yes,No
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10,10.0,37.0,20.0,57.0,F,yes,No
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10,10.0,44.0,23.0,67.0,C,yes,No
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8,8.0,45.0,34.0,79.0,B,yes,No
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10,10.0,43.0,22.0,65.0,C,yes,No

In [1]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.dropna(how="any")  # ye defualt values ki trha NA values k sth return ke dyta hai...

NameError: name 'pd' is not defined

# dropna all parameter

In [21]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\data.csv")
data.dropna(axis=1)  # coloumns

,Student Code,Student_Name,Mid,Best of Quizzes,Grade,True_values,False_values
0,022-14-19987,Abdul Basit,not avalible,8,B,yes,No
1,022-14-110233,Adeel Ahmed,17,5,F,yes,No
2,022-14-110585,Afrah Zareen,18,5,C,yes,avalible
3,022-14-19718,Ahmed Ali Raza,14,7,F,yes,No
4,022-14-110648,Ahsan Ali Vohra,27,7,B,yes,No
5,022-14-110232,Ameer Hamza,25,9,B,yes,No
6,022-14-110588,Anas Ali Khan,28,Null,B,yes,No
7,022-14-110388,Aneebullah Niazi,26,9,A,yes,No
8,022-14-110601,Areesha Sohail,19,9,C,yes,No
9,022-14-110599,Arsalan,28,8,A,yes,No
10,022-14-110214,Fatima Haider Warsi,30,8,A,yes,No
11,022-14-110591,Habib Ullah,28,8,B,yes,No
12,022-15-110994,Hafiza Tooba Akbani,23,7,B,yes,No
13,022-14-110600,Hamza Abdul Jabbar,24,8,C,yes,No
14,022-14-110389,Hareem Afshan,21,7,C,yes,No
15,022-14-19916,Haseeb Sajid,18,0,F,yes,No
16,022-14-110596,Hassam Ahmed,23,5,B,yes,No
17,022-14-110396,Khalid Anwer,20,8,B,yes,No
18,022-14-110223,Madiha Jabeen,16,Null,C,yes,No
19,022-14-110222,Mohammad Hunain,27,9,A,yes,No
20,022-14-110412,Muhammad Aamir,24,7,B,yes,No
21,022-14-110593,Muhammad Abdul Rehman Siddiqui,20,9,C,yes,No
22,022-14-110398,Muhammad Abdullah,20,7,F,yes,No
23,022-14-19983,Muhammad Ali Iqbal,26,5,C,yes,No
24,022-14-110215,Muhammad Bilal,28,5,B,yes,No
25,022-14-110105,Muhammad Faraz,26,9,A,yes,No
26,022-14-110370,Muhammad Ghazali Faridi,27,6,C,yes,No
27,022-14-110452,Muhammad Osama Khan,27,8,B,yes,No
28,022-14-110387,Muhammad Saqib Intizar,22,6,F,yes,No
29,022-14-110217,Muhammad Shahroz Khurshid,17,7,F,yes,No
30,022-14-110401,Muhammad Shozab,23,8,B,yes,No
31,022-14-110231,Muhammad Taha Hasnain,27,7,B,yes,No
32,022-14-110035,Muhammad Wajahat Khan,9,2,F,yes,No
33,022-14-19919,Muhammad Younus Baig,20,4,F,yes,No
34,022-14-110413,Nazeer Bin Zafar,25,9,A,yes,No
35,022-14-19923,Rabi Ahmed,20,8,C,yes,No
36,022-14-110582,Rida Nasim,25,9,B,yes,No
37,022-14-110230,Sadaf Nosheen,27,9,B,yes,No
38,022-14-110229,Sadaquat Rafique,9,6,F,yes,No
39,022-14-110107,Sania Iqbal,28,4,C,yes,No
40,022-14-110584,#NAME?,27,9,A,yes,No
41,022-14-110225,Shariqa Ahmad,20,7,F,yes,No
42,022-14-110587,Sumbul Rehman,28,6,C,yes,No
43,022-14-110451,Syed Faizan Uddin,28,9,B,yes,No
44,022-14-110589,Syed Sohaib,25,7,C,yes,No
45,022-14-110400,Syeda Sabika Raza,27,9,A,yes,No
46,022-14-19911,Usman Khan,25,8,C,yes,No
47,022-14-110219,Waqar Ahmed,11,9,F,yes,No

# Thresh parameter
 kaam az kaam values ko drop krta hai

In [13]:
data=pd.read_csv("D:\\PIAIC DOC\\Q2\\pandas\\PRACTICE\\Read CSV\\Book1.csv")
data.dropna(thresh=3)

       Date     Name  Age Course
0  1/1/2019    Sadiq   23     AI
1       NaN  Shahdad   45     AI
3  1/4/2019     Anus   55     AI
4  1/5/2019   Faisal   34     AI
5  1/6/2019    sadiq   33     AI
6  1/7/2019   Kashif   12     AI
7  1/8/2019      NaN   35     AI
8  1/9/2019    Ahsan   67     AI

In [14]:
data.dropna(thresh=4)

       Date    Name  Age Course
0  1/1/2019   Sadiq   23     AI
3  1/4/2019    Anus   55     AI
4  1/5/2019  Faisal   34     AI
5  1/6/2019   sadiq   33     AI
6  1/7/2019  Kashif   12     AI
8  1/9/2019   Ahsan   67     AI

# Inplace
- inplace use to drop the all null value but not generate new data frame ..changes in default data frame

In [20]:
data.dropna(inplace=True)
data

       Date    Name  Age Course
0  1/1/2019   Sadiq   23     AI
3  1/4/2019    Anus   55     AI
4  1/5/2019  Faisal   34     AI
5  1/6/2019   sadiq   33     AI
6  1/7/2019  Kashif   12     AI
8  1/9/2019   Ahsan   67     AI

In [ ]:
data.dropna()