# Indexing Object

pandasâ€™s Index objects are responsible for holding the axis labels and other metadata

(like the axis name or names)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
obj1=pd.Series([3,5,6,6],index=["a","b","c","d"])
obj1

a    3
b    5
c    6
d    6
dtype: int64

In [7]:
obj2=pd.Series(range(10))
obj2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [8]:
obj2.index[1:]

RangeIndex(start=1, stop=10, step=1)

In [9]:
obj2[2]=3

In [10]:
obj2

0    0
1    1
2    3
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Lables

In [11]:
labels = pd.Index(np.arange(3))

In [12]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [13]:
s1=pd.Series([2,3,4],index=labels)

In [14]:
s1

0    2
1    3
2    4
dtype: int64

In [15]:
s1.index is labels    # is me ye pata lgy ga k Ram me lables and s1 object ek place par hain ya ni

True

# Reindexing

An important method on pandas objects is reindex, which means to create a new
object with the data conformed to a new index

In [16]:
s1

0    2
1    3
2    4
dtype: int64

In [17]:
obj1=pd.Series([5,3,5,7],index=["d","b","c","a"])

In [18]:
reindex_obj=obj1.reindex(["a","b","c","d"])

In [19]:
reindex_obj

a    7
b    3
c    5
d    5
dtype: int64

# ffill-Method( forward-fills)

In [43]:
obj=pd.Series(["Apple","orange","Banana","Mango","ananus"],index=[0,2,4,6,8])
objects=obj.reindex(range(8),method="ffill")
objects

0     Apple
1     Apple
2    orange
3    orange
4    Banana
5    Banana
6     Mango
7     Mango
dtype: object

In [34]:
obj = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
objj=obj.reindex(range(6), method='ffill')
objj

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [19]:
names=pd.Series(["Sadiq","saim","Kashif"],index=[0,3,6])
name=names.reindex(range(9),method="ffill")
name

0     Sadiq
1     Sadiq
2     Sadiq
3      saim
4      saim
5      saim
6    Kashif
7    Kashif
8    Kashif
dtype: object

# Drop
 - it is use to drop values

In [28]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj.drop('a')

b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [29]:
#more than one values
obj.drop(['a','c'])

b    1.0
d    3.0
e    4.0
dtype: float64

In [30]:
#drop rows and columns in data frame

In [31]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
         index=['Ohio', 'Colorado', 'Utah', 'New York'],
         columns=['one', 'two', 'three', 'four'])

In [36]:
data.drop(["Ohio","Utah"])

          one  two  three  four
Colorado    4    5      6     7
New York   12   13     14    15