In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#koi operation ek series par apply kia jaye....

In [3]:
data=pd.read_csv('D:\\PIAIC DOC\\Q2\\Machine Learning\\YouTube-ML\\DataSets\\revenue.csv',index_col='Date')

In [4]:
data

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [5]:
data['New York'].add(200)

Date
1/1/16     1185
1/2/16      938
1/3/16      214
1/4/16      930
1/5/16      314
1/6/16     1136
1/7/16      323
1/8/16     1135
1/9/16     1046
1/10/16     254
Name: New York, dtype: int64

In [6]:
data.columns

Index(['New York', 'Los Angeles', 'Miami'], dtype='object')

In [7]:
data['Los Angeles']*3

Date
1/1/16      366
1/2/16     2364
1/3/16       60
1/4/16     2712
1/5/16      213
1/6/16     1506
1/7/16     2988
1/8/16     1476
1/9/16     2862
1/10/16     855
Name: Los Angeles, dtype: int64

In [8]:
data['Los Angeles']-200

Date
1/1/16     -78
1/2/16     588
1/3/16    -180
1/4/16     704
1/5/16    -129
1/6/16     302
1/7/16     796
1/8/16     292
1/9/16     754
1/10/16     85
Name: Los Angeles, dtype: int64

In [9]:
def fun(n):
    if n >50:
       print("greater 50 :\n",n+1) 
    else:
        print('less 50 : \n', n+10)

In [10]:
data["Condition"]=data['New York'].apply(fun)

greater 50 :
 986
greater 50 :
 739
less 50 :
 24
greater 50 :
 731
greater 50 :
 115
greater 50 :
 937
greater 50 :
 124
greater 50 :
 936
greater 50 :
 847
greater 50 :
 55

In [13]:
data['my_data']=data['Miami']*10