# Series and DataFrames

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Series:
Image result for what is series in pandas
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc

In [2]:
S1=['Coclate','Mango',"Strwberry"]

series1=pd.Series(S1)

series1

0      Coclate
1        Mango
2    Strwberry
dtype: object

# index and values

In [3]:
for i in series1.index:
    print(i,end='   ')
  
print("\n")


for i in series1.values:
    print(i,end='   ')

0   1   2

Coclate   Mango   Strwberry

In [4]:
#numeric series
a=np.arange(1,100)
series2=pd.Series(a)
series2.head()

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [5]:
#boolean series
Bool_series=[True,False,True,False,True,False,True,False]
Series3=pd.Series(Bool_series)
Series3.head(3)

0     True
1    False
2     True
dtype: bool

In [6]:
#float series
floats=[34. , 56.4 , 65.43 , 66.33]
series4=pd.Series(floats)
series4

0    34.00
1    56.40
2    65.43
3    66.33
dtype: float64

# Arithemetic Opertors

In [7]:
print("Addition\n")
print(series4+series4)

print("Subtraction\n")
print(series4-series4)

print("Multiplication\n")
print(series4*series4)

print("Subtraction\n")
print(series4/series4)

Addition

0     68.00
1    112.80
2    130.86
3    132.66
dtype: float64
Subtraction

0    0.0
1    0.0
2    0.0
3    0.0
dtype: float64
Multiplication

0    1156.0000
1    3180.9600
2    4281.0849
3    4399.6689
dtype: float64
Subtraction

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

# Attributes in Series

In [8]:
Men_nature=["Handsome",'Kind Heart','Great toungue Twister','Young']
s1=pd.Series(Men_nature)
s1

0                 Handsome
1               Kind Heart
2    Great toungue Twister
3                    Young
dtype: object

In [9]:
series4

0    34.00
1    56.40
2    65.43
3    66.33
dtype: float64

In [10]:
#methods
print(series4.sum())
print(series4.mean())
print(series4.product())

222.16000000000003
55.540000000000006
8322330.115440001

In [11]:
a=np.arange(10)
index=np.arange(10)

pd.Series(a,index=index)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [12]:
index=['mon','Tues','Thru']
fruits=['Mango','Apple','Pine Apple']
# pd.Series(fruits,index)
pd.Series(fruits,index=index)

mon          Mango
Tues         Apple
Thru    Pine Apple
dtype: object