In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [75]:
#squeeze :
data=pd.read_csv('D:\PIAIC DOC\Q2\Machine Learning\YouTube-ML\DataSets\cars.csv',squeeze=True,usecols=["Brand"])
data

0                 BMW
1       Mercedes-Benz
2       Mercedes-Benz
3                Audi
4              Toyota
            ...
4340    Mercedes-Benz
4341              BMW
4342              BMW
4343           Toyota
4344       Volkswagen
Name: Brand, Length: 4345, dtype: object

In [76]:
#head and tail

In [77]:
data.head()

0              BMW
1    Mercedes-Benz
2    Mercedes-Benz
3             Audi
4           Toyota
Name: Brand, dtype: object

In [78]:
data.tail()

4340    Mercedes-Benz
4341              BMW
4342              BMW
4343           Toyota
4344       Volkswagen
Name: Brand, dtype: object

In [79]:
data.unique()

array(['BMW', 'Mercedes-Benz', 'Audi', 'Toyota', 'Renault', 'Volkswagen',
       'Mitsubishi'], dtype=object)

In [80]:
data.ndim

1

In [81]:
data.dtype

dtype('O')

In [82]:
data.shape

(4345,)

In [83]:
data.size

4345

# Sort Values

In [84]:
data=pd.read_csv('D:\PIAIC DOC\Q2\Machine Learning\YouTube-ML\DataSets\cars.csv',squeeze=True,usecols=["Price"])

In [85]:
data.sort_values()

141     600.0
288     600.0
118     800.0
3608    800.0
1592    999.0
        ...
4229      NaN
4231      NaN
4260      NaN
4273      NaN
4305      NaN
Name: Price, Length: 4345, dtype: float64

In [86]:
data.sort_values()
data

0         4200.0
1         7900.0
2        13300.0
3        23000.0
4        18300.0
          ...
4340    125000.0
4341      6500.0
4342      8000.0
4343     14200.0
4344     13500.0
Name: Price, Length: 4345, dtype: float64

# Sort Index

In [87]:
data.sort_values(ascending=False).head(5)

1728    300000.0
4318    300000.0
3164    295000.0
4101    295000.0
2243    250000.0
Name: Price, dtype: float64

In [88]:
data.sort_index().head(5)

0     4200.0
1     7900.0
2    13300.0
3    23000.0
4    18300.0
Name: Price, dtype: float64

# Accsess Index values

In [89]:
data[[899,45,56,33]]

899     6500.0
45     41000.0
56     10900.0
33     28500.0
Name: Price, dtype: float64

# Accsess Index values by slicing

In [90]:
a=data[50:101]
for i in a:
    print(i,end='  |')

nan  |8250.0  |19500.0  |13500.0  |9200.0  |nan  |10900.0  |5000.0  |23900.0  |36900.0  |8900.0  |7800.0  |133000.0  |1650.0  |50000.0  |9700.0  |9999.0  |69999.0  |6500.0  |4300.0  |3000.0  |8700.0  |9000.0  |20400.0  |9000.0  |13400.0  |3700.0  |9850.0  |3700.0  |15700.0  |24500.0  |7500.0  |11990.0  |13708.5  |8200.0  |6999.0  |6750.0  |18500.0  |14299.0  |28500.0  |17000.0  |nan  |25700.0  |2650.0  |8500.0  |4000.0  |11000.0  |14500.0  |4099.0  |31500.0  |4500.0  |

# Accsess Index values (-ve)

In [91]:
a=data[-10 : ]
for i in a :
    print(i,end='|')

27900.0|2100.0|6800.0|11500.0|17900.0|125000.0|6500.0|8000.0|14200.0|13500.0|