In [2]:
import pandas as pd
import numpy as np

# Series Data structure
-Series perfome the hetrogenous mixtre....

In [3]:
array1=np.arange(10)
series=pd.Series(array1)
print(series)
print(type(series))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
<class 'pandas.core.series.Series'>

In [4]:
series2=[2,-5,3.5,"sadiq"]
series=pd.Series(series2)
print(series)

0        2
1       -5
2      3.5
3    sadiq
dtype: object

# Empty_series

In [5]:
empty_series=pd.Series()
print(empty_series)

Series([], dtype: float64)

# Short technique to create an array

In [6]:
s=pd.Series([2,3,5,6,7])
print(s)
print(s[3])

0    2
1    3
2    5
3    6
4    7
dtype: int64
6

# Series with index

In [7]:
seriess=pd.Series([1,2,4,6,8,42,3],index=['a','b','c','d','e','f','g'])
print(seriess)

a     1
b     2
c     4
d     6
e     8
f    42
g     3
dtype: int64

In [8]:
seriess=pd.Series([1,2,4,6,8,42,3],index=[2,3,4,5,6,7,1])
print(seriess)

2     1
3     2
4     4
5     6
6     8
7    42
1     3
dtype: int64

# Create series by dictionary

In [23]:
seires_d=pd.Series({"name" : "sadiq shah", "Class":"Bs-CS-4"})
print(seires_d)
print("\n")

for i,j in seires_d.items():
    print(i,j)

name     sadiq shah
Class       Bs-CS-4
dtype: object


name sadiq shah
Class Bs-CS-4

# Single scalar values

In [28]:
scalar_s=pd.Series(20,index=[4,5,6,6,7,8])
print(scalar_s)
type(scalar_s)

4    20
5    20
6    20
6    20
7    20
8    20
dtype: int64

pandas.core.series.Series

# Slicing with series

In [29]:
scalar_s=pd.Series(20,index=[4,5,6,6,7,8])
print(scalar_s)

4    20
5    20
6    20
6    20
7    20
8    20
dtype: int64

In [30]:
scalar_s[3:]

6    20
7    20
8    20
dtype: int64

In [38]:
array=np.arange(10)
series=pd.Series(array)
print(series)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [41]:
series[4:]

4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

# Max and min values in series

In [47]:
max_value=max(series)
print(max_value)
print(type(max_value))

9
<class 'int'>

In [48]:
min_value=min(series)
print(min_value)
print(type(min_value))

0
<class 'int'>

In [52]:
max_value=max(series)
print(max_value)
print(type(max_value))

9
<class 'int'>

# Conditional operators

In [55]:
# 1- ==

series[series==3]

3    3
dtype: int32

In [58]:
# 2- >
series[series>=3]

3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [57]:
# 2- <
series[series<=3]

0    0
1    1
2    2
3    3
dtype: int32


# mathamatical operator

In [66]:
array1=np.arange(10,21)
array2=np.arange(20,31)
series1=pd.Series(array1)
series2=pd.Series(array2)
add_series=series1 + series2
print(add_series)

0     30
1     32
2     34
3     36
4     38
5     40
6     42
7     44
8     46
9     48
10    50
dtype: int32

In [67]:
array1=np.arange(10,21)
array2=np.arange(20,31)
series1=pd.Series(array1)
series2=pd.Series(array2)
sub_series=series1 - series2
print(sub_series)

0    -10
1    -10
2    -10
3    -10
4    -10
5    -10
6    -10
7    -10
8    -10
9    -10
10   -10
dtype: int32

In [17]:
#handle missing values 
array1=np.arange(10,21)
array2=np.arange(19)
series1=pd.Series(array1)
series2=pd.Series(array2)
add_series=series1 + series2
print(add_series)

0     10.0
1     12.0
2     14.0
3     16.0
4     18.0
5     20.0
6     22.0
7     24.0
8     26.0
9     28.0
10    30.0
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
dtype: float64

In [19]:
array1=np.arange(10,21)
series=pd.Series(array1)
print(series)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int32

In [31]:
# # index can be specifies:
# numbers
# alphabtes
# symbols

In [36]:
series[2]

1

In [50]:
array1=np.arange(1,10)
series=pd.Series(array1,index=['/',"A",4,'a',6,7,8,84,'z'])
print(series)

/     1
A     2
4     3
a     4
6     5
7     6
8     7
84    8
z     9
dtype: int32

In [51]:
series['A'] # by capital alphabtes

2

In [46]:
series[84] # by integers

8

In [47]:
series["a"]  # by  small alphabtes

4

In [48]:
series['/'] #by symbols

1

In [13]:
s1=pd.Series([2,3,4,7,8,7])
s2=pd.Series([3,4,4,6,5,3])
pd.concatenate(s1,s2)
s[5]

AttributeError: module 'pandas' has no attribute 'concatenate'

In [7]:
series1=pd.Series([3,4,5,6,7,8])

In [8]:
print(series1)

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

In [9]:
print("Series1\nIndex is : 2\nValue is :"  , series1[2])

print()

print("Series1\nIndex is : 0\nValue is :"  , series1[0])

Series1
Index is : 2
Value is : 5

Series1
Index is : 0
Value is : 3

In [34]:
series2=pd.Series([[3,4,5,6,7,8],[3,4,5,6,7,8]])
series2

0    [3, 4, 5, 6, 7, 8]
1    [3, 4, 5, 6, 7, 8]
dtype: object

In [18]:
print("Series1\nIndex is : 2\nValue is :"  , series2[[0]])

print()

# print("Series1\nIndex is : 0\nValue is :"  , series2[0])

Series1
Index is : 2
Value is : 0    [3, 4, 5, 6, 7, 8]
dtype: object

In [23]:
series3=pd.Series([[[3,4,5,6,7,8],[3,4,5,6,7,8]],[[3,4,5,6,7,8],[3,4,5,6,7,8]]])
series3

0    [[3, 4, 5, 6, 7, 8], [3, 4, 5, 6, 7, 8]]
1    [[3, 4, 5, 6, 7, 8], [3, 4, 5, 6, 7, 8]]
dtype: object

In [25]:
series=pd.Series([1,2,34,4,5])
print(series)

0     1
1     2
2    34
3     4
4     5
dtype: int64

In [28]:
series[2]=35
series

0     1
1     2
2    35
3     4
4     5
dtype: int64

In [29]:
series[3]

4

In [111]:
series2d=pd.Series([[1,4,7,8,9],[4,8,9,7,5]])
series2d

0    [1, 4, 7, 8, 9]
1    [4, 8, 9, 7, 5]
dtype: object

In [112]:
series2d[0][2]=23,2,5   #more than on value at the index of one..
series2d

0    [1, 4, (23, 2, 5), 8, 9]
1             [4, 8, 9, 7, 5]
dtype: object

In [62]:
a=pd.Series([5,6,7,7])
a

0    5
1    6
2    7
3    7
dtype: int64

In [86]:
b=a[0]={"name" : "sadiq shah" , "age" : 21}
for i,j in b.items():
   print(i, " : " ,j)

name  :  sadiq shah
age  :  21

In [102]:
_1D=pd.Series(["sadiq shah",22,"shahsadiq208@gmail.com",'BScs'])
_2D=pd.Series([["sadiq shah",22,"shahsadiq208@gmail.com",'BScs']  , ["Faisal Amin",22,"FaisalAmin@gmail.com",'BScs']])
_3D=pd.Series([[["Kashif Anwar",22,'KashifAnwar@gmail.com','BScs']  , ["Faisal Amin",22,"FaisalAmin@gmail.com",'BScs'],]])

print(_1D)
print()
print(_2D)

print()
print(_3D)

0                sadiq shah
1                        22
2    shahsadiq208@gmail.com
3                      BScs
dtype: object

0    [sadiq shah, 22, shahsadiq208@gmail.com, BScs]
1     [Faisal Amin, 22, FaisalAmin@gmail.com, BScs]
dtype: object

0    [[Kashif Anwar, 22, KashifAnwar@gmail.com, BSc...
dtype: object

0                sadiq shah
1                        22
2    shahsadiq208@gmail.com
3                      BScs
dtype: object

In [140]:
_1D=pd.Series(["sadiq shah",22,"shahsadiq208@gmail.com",'BScs'])
print(_1D,"\n")

print("Normal Acsessing:")
print("--------------------")
print("Naming Index is : 0\nValue is :"  , _1D[[0]])

print()

print("Email Index is : 2\nValue is :"  , _1D[[2]])


print("\nFancing Indexig :")
print('----------------------')

print("Name and Email adress:\n",_1D[[0,2]])

0                sadiq shah
1                        22
2    shahsadiq208@gmail.com
3                      BScs
dtype: object

Normal Acsessing:
--------------------
Naming Index is : 0
Value is : 0    sadiq shah
dtype: object

Email Index is : 2
Value is : 2    shahsadiq208@gmail.com
dtype: object

Fancing Indexig :
----------------------
Name and Email adress:
 0                sadiq shah
2    shahsadiq208@gmail.com
dtype: object

In [27]:
s1=pd.Series([3,4,5,6])
print(s1.index)
print(s1.values)
print(s1)

RangeIndex(start=0, stop=4, step=1)
[3 4 5 6]
0    3
1    4
2    5
3    6
dtype: int64

# Series with list

In [57]:
list1=["sadiq","Ali","Kashif"]
s=pd.Series(list1)
print(s)
s[1]

0     sadiq
1       Ali
2    Kashif
dtype: object

'Ali'

# Series with dictionary

In [54]:
dic1={"name : " : "sadiq sah" , "age :":22, "Contact :" : 3218799686}
s2=pd.Series(dic1)
print(s2)
s2[2]=312250235
s2

name :        sadiq sah
age :                22
Contact :    3218799686
dtype: object

name :       sadiq sah
age :               22
Contact :    312250235
dtype: object

# list of dic

In [63]:
l_o_d={
    "name" : ["sadiq","Ali",'Kashif',"Kamran"],
    "age"  :[12,34,55,33],
    "class" :["Bscs","Bsc","Bsc","Bsc"]
}

s3=pd.Series(l_o_d)
print(s3)

name     [sadiq, Ali, Kashif, Kamran]
age                  [12, 34, 55, 33]
class           [Bscs, Bsc, Bsc, Bsc]
dtype: object

In [64]:
l_o_d["name"]
l_o_d["age"]

[12, 34, 55, 33]

In [73]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)
print(obj4)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [81]:
dic1={"name" : "sadiq sah" , "age" :"22", "Contact" : 3218799686}
list1=["name",'age',"Contact","adress"]

ob=pd.Series(dic1,index=list1)
print(ob)

name        sadiq sah
age                22
Contact    3218799686
adress            NaN
dtype: object

In [86]:
ob.isnull()  # wrong statement

name       False
age        False
Contact    False
adress      True
dtype: bool

In [85]:
ob.notnull() #correct statement

name        True
age         True
Contact     True
adress     False
dtype: bool

In [88]:
ss=pd.Series([3,4,5,6,6])

ss.index=[1,2,3,4,4]

In [89]:
print(ss)

1    3
2    4
3    5
4    6
4    6
dtype: int64

In [94]:
a=ss+ss
print(a)

1     6
2     8
3    10
4    12
4    12
dtype: int64

In [97]:
a=ss-ss
print(a)

1    0
2    0
3    0
4    0
4    0
dtype: int64

In [98]:
a=ss*ss
print(a)

1     9
2    16
3    25
4    36
4    36
dtype: int64

In [99]:
a=ss**ss
print(a)

1       27
2      256
3     3125
4    46656
4    46656
dtype: int64

In [124]:
s=pd.Series([[3,4,4,5],[23,4,5,3]])
s[0][0]=23,3,"e"
s

0    [(23, 3, e), 4, 4, 5]
1            [23, 4, 5, 3]
dtype: object

In [7]:
series1=pd.Series([2,3,4,5], ['a','b','c','d'])
print(series1)

a    2
b    3
c    4
d    5
dtype: int64

In [12]:
series1["c"]=23
series1

a     2
b     3
c    23
d     5
dtype: int64

In [22]:
series2=pd.Series([2,3,4,5], [1,2,3,4])
print(series2)

1    2
2    3
3    4
4    5
dtype: int64

In [23]:
series2=pd.Series([2,3,4,5], ["!",'/','%','&'])
print(series2)

!    2
/    3
%    4
&    5
dtype: int64

In [32]:
series2["&"]

NameError: name 'series2' is not defined

In [31]:
list_o_list=[3,4,5,6,6,6]
indexes=[2,3,4,5,5,4]
s=pd.Series(list_o_list,indexes)
print(s)

2    3
3    4
4    5
5    6
5    6
4    6
dtype: int64

# Where file locate

In [1]:
import os
print(os.getcwd())

D:\PIAIC DOC\Q2\pandas\PRACTICE

In [2]:
import numpy as np

In [31]:
a = np.array([[1, 3, 5, 7, 9, 11], 
              [2, 4, 6, 8, 10, 12]]) 
a

array([[ 1,  3,  5,  7,  9, 11],
       [ 2,  4,  6,  8, 10, 12]])

In [35]:
np.hsplit(a,2)

[array([[1, 3, 5],
        [2, 4, 6]]), array([[ 7,  9, 11],
        [ 8, 10, 12]])]

In [36]:
np.vsplit(a,2)

[array([[ 1,  3,  5,  7,  9, 11]]), array([[ 2,  4,  6,  8, 10, 12]])]

In [38]:
np.split(a,2,axis=0)

[array([[ 1,  3,  5,  7,  9, 11]]), array([[ 2,  4,  6,  8, 10, 12]])]